body {
    background: lightgrey;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90;
    box-sizing: border-box;
    overflow-y: scroll;
   
}
body.sida1 {
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
}
header.grid2x2 {
    height: 100vh;
    background: darkred;
}
header.gridrow5{
    height: 60vh;
}



.grid2x2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.grid2x2 > div:first-child {
    background: turquoise;
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    display: flex;
    flex-direction: column;
}

header.grid2x2 > div:first-child > div {
    height: 50%;
}
header.grid2x2 > div:first-child > div:first-child {
    box-sizing: border-box;
    padding-left: 20%;
    padding-right: 20%;
}
header.grid2x2 > div:first-child > div:nth-child(2) {
    width: 50%;
    height: 100%;
    justify-self: flex-end;
    align-self: flex-start;
    padding-left: 20%;
}

header.grid2x2 > div:first-child > div:nth-child(3) {
    justify-self: flex-end;
    align-self: flex-end;
    box-sizing: border-box;
    width: 50%;
}
header.grid2x2 > div:first-child > div:nth-child(3) img {
    height: 100%;
    float: right;   
   
}

header.grid2x2 > div:nth-child(2) {
    background: darkorange;
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}
header.grid2x2 > div:nth-child(3) {
    background: yellow;
    grid-column: 3 / 5;
    grid-row: 3 / 5;
    height: auto;
}

white {
    color: white;
    
}
.button {
    position: relative;
    left: 10%;
    top: 130%;
    padding: 4%;
    z-index: 1;

    font-size: clamp(1rem, 3.5vw, 1.2rem); 

    /*
    font-size: 20px;
    */
    background-color: white;
    border-radius: 20px;
    border: none;   
    cursor: pointer;
    transition: 0.6s;
    box-shadow: 0px 3px #888888;
}
.button:hover{
    box-shadow: 0px 10px  #888888;
   
}
/* Header sida2 */

header.gridrow5 {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

header.gridrow5 > div {
    grid-row: 1 / 5;
    grid-column: 1 / 5;
    background: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
}


header.grid2x2 > div .p2{
    position: relative;
    left: 30%;
    top: 15vh;
    font-size: 12px;
    text-align: center;
    width: 32vh;
   
}
header.grid2x2 > div .h-2{
    position: relative;
    left: 30%;
    top: 10vh;
    width: 32vh;
    color: white;   
    text-align: center;
}
header.grid2x2 > div .p3{
    position: relative;
    left: 30%;
    top: 15vh;
    font-size: 12px;
    text-align: center;
    width: 32vh;
   
}
header.grid2x2 > div .h-3{
    position: relative;
    left: 30%;
    top: 10vh;
    width: 32vh;
    color: white;   
    text-align: center;
}

/*nav */
header > nav {
    background: lightgrey;
    grid-row: 5;
    grid-column: 1 / 5;
}
ul{
    display: flex;
    position: relative;
    justify-content: center;
    list-style-type: none;    
   
}
li {
    text-decoration: none;
    padding-right: 5vw;
    padding-left: 5vw;
}
li a{
  text-decoration: none;
  color: #888888; 
  transition: 0.5s;
  font-weight: 550;
}

li a:hover {
    color: black;
}

/*.a-svart a{
    font-weight: 800;
    color: black;
}*/




/* main sida 1 */
main.sida1 {
    height: 180vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}

main.sida1 > div {
    height: 60vw;
    width: 100%;
}
main.sida1 > div:first-child {
    background: darkgrey;
    width: 100%;
}
.gridodd2x2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 75% auto;
    grid-template-areas: "left left right right" "bottom bottom bottom bottom";
}
.gridodd2x2 > div:first-child {
    grid-area: left;
    box-sizing: border-box;
    padding: 20%;
}
.gridodd2x2 > div:nth-child(2) {
    grid-area: right;
    box-sizing: border-box;
    padding: 20%;
}

.gridodd2x2 > div:nth-child(3) {
    grid-area: bottom;
    display: flex;
    justify-content: space-around;
    height: 100%;
}
.gridodd2x2 > div:nth-child(3) > div {
    background: white;
    width: 25%;
    z-index : 1;
    font-size: 7px;
    text-align: center;
    height: 30vw;
}
.gridodd2x2 > div:nth-child(3) > div > div {
    position: relative;
    left: 0px;
    top: -5px;
    z-index: 2;
    width: 90%;
    height: 35%;
    margin: auto;
    background: #add8e6;
    overflow-y: hidden;
    box-sizing: border-box;
    padding: 10%;
}
.gridodd2x2 > div:nth-child(3) > div > div img {
    width: 45%;
}


main.sida1 > div:nth-child(2) {
    box-sizing: border-box;
    width: 100%;
    padding: 20%;
    text-align: center;
    background: orange;
}



.gridodd2x2 > div .main-p{
    margin-top: 14%;
    font-weight: 550;
    font-size: clamp(1rem, 3.5vw, 1.2rem); 
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
}

.gridodd2x2 > div .btn{
    margin-top: 15%;
    font-size: auto;
    width: 10vw;
}

.gridodd2x2 > div p{
    font-family: Fira Sans;
font-style: normal;
font-weight: bold;
font-size: 11px;
line-height: 18px;
color: rgba(0, 0, 0, 0.4);   
}
.grid3x2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

.grid3x2 > div {
    height: auto;
    text-align: center;
}

.grid3x2 > div p {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(105, 105, 105);
    display: block;
}

.grid3x2 > div:first-child {
    background: rgb(213, 236, 255);
    text-align: center;
    font-size: 30px;
}
/* h1? */
.grid3x2 > div:nth-child(3) {
    background: lightgrey;
}

.grid3x2 > div:nth-child(5) {
    background: rgb(226, 107, 52);
}
.grid3x2 > div:nth-child(even) {
    background: white;
}
.grid3x2 > div .main-h2{
    color: blue;
}



.grid3x2 > div h1 {
    padding-top: 50px;
} 


/* main sida 2 */

body.sida2 {
    margin: 0;
}

main.sida2 {
    height: auto;
    width: 100%;
    background: #A9A19E;
}
main.sida2 > div:first-child {
    height: 80vh;
    width: 100%;
    box-sizing: border-box;
}
main.sida2 > div:nth-child(2) {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-image: url("img/karta.png");
    background-size: cover;
    justify-content: space-evenly;
}
main.sida2 > div:nth-child(2) > div:first-child {
    background: orange;
    width: 40%;
    height: 50%;
    color: white;
}


main.sida2 > div:nth-child(2) > div:first-child address {
    font-style: normal;
    line-height: 200%;
}


main.sida2 > div:nth-child(2) > div:nth-child(2) {
    width: 40%;
    height: 50%;
}
.röd-pil{
    width: 100px;
    height: 100px;
    align-self: center;
}






footer.sida1 {
    height: auto;
    display: flex;
    flex-direction: column;
}
footer.sida1 div:first-child {
    background: darkgrey;
    width: 100%;
    height: 10vh;
}
footer.sida1 div:nth-child(2) {
    background: grey;
    width: 100%;
    height: 60vh;
}

footer.sida1 > div p{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
/* footer sida 2 */

footer.sida2 {
    height: 80vh;
    background: grey;
}










#three {
    background-color: rgb(189, 188, 188);
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 100px;
    color: rgb(250, 250, 250);
}
 
#three > .heading-text {
    align-items: center;
    font-size: 40px;
}
 
.contactform textarea {
    width: 490px;
    height: 150px;
    padding: 10px;
    
    background-color: #fff;
    font-size: 16px;
    resize: none;
    margin: 10px 0;
    border: none;
  }
  
.contactform input {
      width: 500px;
      height: 50px;
      padding: 5px;
      
      font-size: 16px;
      margin: 10px 0;
      border: none;
      background-color: #fff;
  }
 
.contactform {
    color: honeydew;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contactform form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

 
.contactform button {
    border: none;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 1px 1px grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 15px;
}
 
.contactform label {
    display: block;
    font-weight: bold;
    font-size: 16px;
}




header.gridrow5 > div h1{
    font-size: 50px;
 }
 header.grid2x2 > div h2{
    position: relative;
    font-size: clamp(1rem, 4vw, 4rem);

    /*
    font-size: 40px;
    */
}
.gridodd2x2 > div .main-h2{
    color: white;
    width: 314px;
    height: 140px;
    font-size: clamp(1rem, 2.5vw, 3rem); 
}
main.sida2 > div:nth-child(2) > div:first-child h2 {
    font-size: clamp(1rem, 4vw, 4rem);
}
.grid3x2 > div h3 {
    color: grey;
    font-size: 40px;
    display: block;
    text-align: left;
    padding: 20px 20px;
}
.gridodd2x2 > div h4{
    font-size: 23px;
}



/*
@media only screen and (max-width: 601px) {
    header.grid2x2 > div h2 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 601px) {
    h2 {
        font-size: 14px;
    }
    header p {
        font-size: 8px;
    }
    button {
        font-size: 8px;
    }
}








main div {
    height: 33%;
    width: 100%;
}
main div:first-child {
    background: darkgrey;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 25%);
}
main div:first-child div:first-child {
    background: red;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
main div:first-child div:nth-child(2) {
    background: purple;
    grid-column: 4 / 5;
    grid-row: 1 / span 3;
}
main div:first-child div:nth-child(3) {
    background: blue;
    grid-column: 4;
    grid-row: 4;
}



main div:nth-child(2) {
    align-content: center;
    text-align: center;
    background: orange;
}
main div:nth-child(2) h2 {
    color: white;
}
main div:nth-child(2) article {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
}
main div:nth-child(2) article p {
    font-size: 10px;
}


main div:nth-child(3) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50% 50%;
}
main div:nth-child(3) div:first-child {
    background: turquoise;
}
main div:nth-child(3) div:nth-child(3) {
    background: lightgrey;
}
main div:nth-child(3) div:nth-child(5) {
    background: darkorange;
}
main div:nth-child(3) div:nth-child(even) {
    background: white;
}


